<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: rgb(32, 26, 26);
      }
      h1 {
        color: aquamarine;
        text-decoration: line-through;
        text-align: center;
        text-shadow: brown;
      }
    </style>
  </head>
  <body>
    <h1>This is about page <%= name %></h1>
  </body>
</html>
